button,
div,
form,
input,
p {
    margin: 10px;
    color: black;
}

body {
    background-color: white;
}

.container {
    border-radius: 10px;
    border: 1px black solid;
    background-color: darkgrey;
}

#submit-button {
    margin-right: -60px;
}

#search-box {
    /* margin: 2px; */
}

.column-style {
    color: darkslategrey;
}

#gifs-view {
    display: flex;
    flex-wrap: wrap;
}